{% extends 'layout.twig' %}

{% block body %}
	<div id="vote-wrapper" class="vote-wrapper" style="background-color: #2C3037">
		<div class="container"> <!--page container -->
    	<div id="subtitles" class="text-box">
			</div> <!--text box which will contain spoken text -->
		</div>
  </div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
	<script>
		var client = null;
		var words = [];
		var author = [];
		var isEditing = true;
		var isSpeaking = false;
		var voices = window.speechSynthesis.getVoices();
		var subtitleText = null;
		var openweatherkey = "{{ openweatherkey }}";

		function shermanSays( message ) {
			var msg = new SpeechSynthesisUtterance();
			msg.voice = voices[6]; // Note: some voices don't support altering params
			// msg.voiceURI = 'native';
			msg.volume = 0.75; // 0 to 1
			msg.rate = 1; // 0.1 to 10
			msg.pitch = 1; //0 to 2
			msg.text = message;
			msg.lang = 'en-US';

			msg.onend = function(e) {
				isSpeaking = false;
				// console.log('Finished in ' + e.elapsedTime + ' seconds.');
			};
			if( !isSpeaking ) {
				speechSynthesis.speak(msg);
			}
		}

		function shermanCommand(command) {
			// shermanSays("did you say " + command);
			console.log("COMMAND:", command);
			if( command.includes( "this cord" ) || command.includes( "Discord" ) ) {
				shermanSays( "Come and hang out with us outside of stream as well!" );
				client.say( "#{{ username }}", "!discord" );
			}
			if( command.includes( "how's it going" ) || command.includes( "how is it going" ) ) {
				shermanSays( "I have a little code. How are you?" );
			}
			if( command.startsWith( "tell me the weather " ) ) {
				var cityName = command.replace("tell me the weather in ", ""); //command.split(" ").pop();
				$.ajax({
					url: "https://api.openweathermap.org/data/2.5/weather?q=" + cityName + "&appid=" + openweatherkey,
					success: (result) => {
						shermanSays( "The weather in " + result[ "name" ] + " is " + result[ "weather" ][0].description );
						console.log( result );
					}
				});
			}
		}

		$( document ).ready(function() {
			setTimeout(() => {
				voices = window.speechSynthesis.getVoices();
				console.log( voices );
			}, 2000 );

			if (annyang) {
			  // Start listening. You can call this here, or attach this call to an event, button, etc.
			  annyang.start({ autoRestart: true, continuous: false });
				// annyang.setLanguage("es-MX");
				console.log("Started Voice Commands");
			  annyang.addCommands({
					'type in chat *message': function(message) {
						client.say("#{{ username }}", message);
					},
					'fisherman *command': shermanCommand,
					'hey sherman *command': shermanCommand,
					'comfy': function() {
						shermanSays("Okay.");
						client.say("#{{ username }}", "!comfy");
					},
					'boing boing': function() {
						shermanSays("Okay.");
						client.say("#{{ username }}", "!boingboing");
					},
					'holy cow': function() {
						shermanSays("Holy cows live in India");
					},
				});
				annyang.addCallback('soundstart', function() {
				  console.log('sound detected');
				});
				annyang.addCallback('result', function(phrases) {
					if( subtitleText ) {
						subtitleText.fadeOut(250, () => {
							subtitleText.remove();
							subtitleText = $("<p>" + phrases[0] + "</p>").appendTo( "#subtitles" );
						});
					}
					else {
						subtitleText = $("<p>" + phrases[0] + "</p>").appendTo( "#subtitles" );
					}
				  console.log("I think the user said: ", phrases[0]);
				  console.log("But then again, it could be any of the following: ", phrases);
				});
			}

			var options = {
				options: {
					debug: false
				},
				connection: {
					reconnect: true,
				},
				identity: {
					username: "{{ username }}",
				    password: "{{ oauth }}"
				},
				channels: ["#{{ username }}"]
			};

			client = new tmi.client(options);

			// Connect the client to the server..
			client.connect();

			client.on("chat", function (channel, userstate, message, self) {
				// if( ( userstate[ "badges" ] && ( userstate[ "badges" ][ "vip" ] || userstate[ "badges" ][ "moderator" ] ) ) && message.startsWith( "!speak " ) ) {
				if( message.startsWith( "!speak " ) ) {
					shermanSays( message.replace( "!speak ", "" ).substring(0, 50) );
				}

				// if( message.startsWith( "!weather " ) ) {
				// 	var cityName = message.replace( "!weather ", "" );
				// 	$.ajax({
				// 		url: "https://api.openweathermap.org/data/2.5/weather?q=" + cityName + "&appid=" + openweatherkey,
				// 		success: (result) => {
				// 			shermanSays( "The weather in " + result[ "name" ] + " is " + result[ "weather" ][0].description );
				// 			console.log( result );
				// 		}
				// 	});
				// }
			});
		});
	</script>
{% endblock %}
